[includeIf "gitdir:~/dev/"]
path = ~/dev/.gitconfig-personal

[includeIf "gitdir:~/code/"]
path = ~/code/.gitconfig-work

[credential]
helper = osxkeychain

[url "ssh://git@github.com/"]
insteadof = https://github.com/

[http]
proxy = http://proxy.open.ch:8080/

[color]
ui = auto

[core]
editor = vim
pager = less -F -X
excludesfile = ~/.gitignore
autocrlf = input

[merge]
ff = true
commit = false

[branch]
autosetuprebase = always

[push]
default = simple

[pull]
rebase = true

[maintenance]
repo = ~/code/panta
